
@font-face {
  font-family: 'BookmanOldStyle';
  src: url('BookmanOldStyle.eot?#iefix') format('embedded-opentype'),  url('BookmanOldStyle.woff') format('woff'), url('BookmanOldStyle.ttf')  format('truetype'), url('BookmanOldStyle.svg#BookmanOldStyle') format('svg');
  font-weight: normal;
  font-style: normal;
}
